In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
import matplotlib.colors as mcolors
import platform
from matplotlib import font_manager, rc

# '-' 기호 보이게 하기
matplotlib.rcParams['axes.unicode_minus'] = False

# 운영 체제마다 한글이 보이게 하는 설정
# 윈도우
if platform.system() == 'Windows':
    path = "c:\Windows\Fonts\malgun.ttf"
    font_name = font_manager.FontProperties(fname=path).get_name()
    plt.rc('font', family=font_name)
# 맥
elif platform.system() == 'Darwin':
    plt.rc('font', family='AppleGothic')
# 리눅스
elif platform.system() == 'Linux':
    plt.rc('font', family='NanumBarunGothic')

In [2]:
df_demo = pd.read_csv('/Users/jiyoung/Desktop/대외활동/롯데멤버스/LPOINT_BIG_COMP/LPOINT_BIG_COMP_01_DEMO.csv') # 고객정보
df_pdde = pd.read_csv('/Users/jiyoung/Desktop/대외활동/롯데멤버스/LPOINT_BIG_COMP/LPOINT_BIG_COMP_02_PDDE.csv', parse_dates = [6]) # 구매정보
df_copu = pd.read_csv('/Users/jiyoung/Desktop/대외활동/롯데멤버스/LPOINT_BIG_COMP/LPOINT_BIG_COMP_03_COP_U.csv', parse_dates = [5, 6]) # 유통사 이용 정보 (B01 ~ E00)
df_pd = pd.read_csv('/Users/jiyoung/Desktop/대외활동/롯데멤버스/LPOINT_BIG_COMP/LPOINT_BIG_COMP_04_PD_CLAC.csv') # 상품 정보

df_pdde['weekday'] = df_pdde['de_dt'].dt.weekday

/Users/jiyoung/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
DF = pd.merge(df_pdde, df_demo, on='cust')
DF = pd.merge(DF, df_pd, on='pd_c')
DF.head()

,cust,rct_no,chnl_dv,cop_c,br_c,pd_c,de_dt,de_hr,buy_am,buy_ct,weekday,ma_fem_dv,ages,zon_hlv,pd_nm,clac_hlv_nm,clac_mcls_nm
0,M430112881,A01000001113,1,A01,A010039,PD0290,2021-01-01,10,15000.0,1,4,여성,50대,Z17,남성티셔츠,남성의류,남성의류상의
1,M430112881,A01000003148,1,A01,A010039,PD0290,2021-01-01,10,19000.0,1,4,여성,50대,Z17,남성티셔츠,남성의류,남성의류상의
2,M430112881,A01000003148,1,A01,A010039,PD0290,2021-01-01,10,19000.0,1,4,여성,50대,Z17,남성티셔츠,남성의류,남성의류상의
3,M430112881,A01000004946,1,A01,A010039,PD0290,2021-01-01,10,19000.0,1,4,여성,50대,Z17,남성티셔츠,남성의류,남성의류상의
4,M646853852,A01269523084,1,A01,A010025,PD0290,2021-07-16,20,20000.0,1,4,여성,40대,Z13,남성티셔츠,남성의류,남성의류상의

In [4]:
# 상품분류
foods = ['건강식품', '건해산물', '과일', '과자', '냉동식품', '냉장식품', '대용식', '병통조림', '수산물', '주류', '채소'
         , '축산물', '커피/차', '양곡', '유제품', '음료', '조리식품', '조미료']

living = ['가구', '건강용품', '계절가전', '공구/안전용품', '기타(비상품)', '냉장/세탁가전', '담배', '문구/사무용품', '생활/렌탈서비스',
         '생활/주방가전', '세제/위생', '속옷/양말/홈웨어', '식기/조리기구', '유아동의류', '유아식품', '인테리어/조명', '자동차용품',
         '주방잡화', '청소/세탁/욕실용품', '출산/육아용품', '침구/수예', '퍼스널케어']

leisure = ['구기/필드스포츠',  '남성의류', '모바일', '상품권', '서적/음반/악기', '스포츠패션', '시즌스포츠', '아웃도어/레저', '여성의류'
           , '여행/레저서비스', '영상/음향가전', '완구', '원예/애완', '컴퓨터', '테넌트/음식점', '패션잡화', '헬스/피트니스', '화장품/뷰티케어']

In [5]:
DF['Product'] = 'Living'
DF.loc[DF['clac_hlv_nm'].apply(lambda x: x in foods), 'Product'] = 'Food'
DF.loc[DF['clac_hlv_nm'].apply(lambda x: x in leisure), 'Product'] = 'Leisure'

In [8]:
DF = pd.merge(df_pdde, df_demo, on='cust')
DF = pd.merge(DF, df_pd, on='pd_c')
DF = DF.loc[(DF['ages'] == '20대')|(DF['ages'] == '30대')]
DF_foods = DF.loc[DF['clac_hlv_nm'].apply(lambda x: x in foods)]

In [11]:
DF_foods

,cust,rct_no,chnl_dv,cop_c,br_c,pd_c,de_dt,de_hr,buy_am,buy_ct,weekday,ma_fem_dv,ages,zon_hlv,pd_nm,clac_hlv_nm,clac_mcls_nm
35376,M686795542,A02311400378,1,A02,A020097,PD0239,2021-02-15,17,1980.0,1,0,여성,20대,Z16,쉘초콜릿,과자,초콜릿
35377,M878181490,A02342411096,1,A02,A020110,PD0239,2021-02-09,16,1500.0,1,1,남성,30대,Z13,쉘초콜릿,과자,초콜릿
35381,M174599398,A04044525416,1,A04,A040835,PD0239,2021-06-01,20,3000.0,1,1,여성,30대,Z17,쉘초콜릿,과자,초콜릿
35382,M009032626,A02311603194,1,A02,A020097,PD0239,2021-03-22,15,1480.0,1,0,남성,20대,Z16,쉘초콜릿,과자,초콜릿
35394,M986125865,A02288131857,1,A02,A020089,PD0239,2021-10-29,11,9960.0,2,4,여성,30대,Z14,쉘초콜릿,과자,초콜릿
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4381670,M305279155,A01357609244,1,A01,A010017,PD0106,2021-09-22,15,180000.0,1,2,남성,30대,Z17,반건생선선물세트,건해산물,건해산물선물세트
4381701,M896254389,A03141719824,1,A03,A030270,PD1567,2021-02-16,10,17612.0,1,1,여성,20대,Z16,호주산소채끝,축산물,호주산소고기
4381702,M020915056,A03130651499,1,A03,A030255,PD1567,2021-02-21,16,16939.0,1,6,여성,30대,Z17,호주산소채끝,축산물,호주산소고기
4381703,M503108006,A03126515102,1,A03,A030248,PD1567,2021-01-01,19,40000.0,1,4,여성,30대,Z17,호주산소채끝,축산물,호주산소고기
4381726,M576900119,A02064480026,1,A02,A020012,PD0040,2021-02-26,16,10000.0,1,4,여성,30대,Z17,로열제리,건강식품,꿀

In [12]:
DF_foods = DF_foods.loc[(DF_foods['ages']=='20대')&(DF_foods['cop_c'] == 'A04')]
DF_foods

,cust,rct_no,chnl_dv,cop_c,br_c,pd_c,de_dt,de_hr,buy_am,buy_ct,weekday,ma_fem_dv,ages,zon_hlv,pd_nm,clac_hlv_nm,clac_mcls_nm
35398,M268811651,A04007138336,1,A04,A042952,PD0239,2021-01-30,13,1200.0,1,5,여성,20대,Z04,쉘초콜릿,과자,초콜릿
35414,M988646555,A04042704742,1,A04,A042362,PD0239,2021-05-27,16,1500.0,1,3,여성,20대,Z09,쉘초콜릿,과자,초콜릿
35415,M988646555,A04049082234,1,A04,A042362,PD0239,2021-06-12,18,1500.0,1,5,여성,20대,Z09,쉘초콜릿,과자,초콜릿
35444,M436594332,A04102515454,1,A04,A044039,PD0239,2021-10-20,17,2344.0,1,2,여성,20대,Z11,쉘초콜릿,과자,초콜릿
35445,M436594332,A04113178970,1,A04,A044039,PD0239,2021-11-16,14,7100.0,1,1,여성,20대,Z11,쉘초콜릿,과자,초콜릿
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4373876,M217402929,A04007614043,1,A04,A043326,PD0103,2021-02-01,9,140400.0,3,0,남성,20대,Z10,멸치선물세트,건해산물,건해산물선물세트
4380920,M405096484,A04019537900,1,A04,A040834,PD0334,2021-03-19,12,19413.0,1,4,여성,20대,Z17,아이스크림케이크,냉동식품,아이스크림
4380922,M837797141,A04107901264,1,A04,A040530,PD0334,2021-11-03,0,19900.0,1,2,여성,20대,Z17,아이스크림케이크,냉동식품,아이스크림
4380923,M653830067,A04063259282,1,A04,A044090,PD0334,2021-07-15,22,19900.0,1,3,여성,20대,Z11,아이스크림케이크,냉동식품,아이스크림
4380928,M472170714,A04101210096,1,A04,A045569,PD0334,2021-10-17,15,29500.0,1,6,여성,20대,Z12,아이스크림케이크,냉동식품,아이스크림

In [14]:
cnt_food = DF_foods.groupby(['cust', 'cop_c'])['rct_no'].unique().apply(lambda x: len(x)).unstack()
cnt_food = cnt_food.fillna(0)
cnt_food = cnt_food[cnt_food['A04'] < 300] # 구매횟수가 300회 이상인 데이터 제거

In [15]:
cnt_food

cop_c       A04
cust
M002122238   23
M002188008   16
M002238144   56
M002352655    3
M004382321    2
...         ...
M993883998   10
M995165674    7
M995885091    3
M998574012   67
M999849895    2

[1063 rows x 1 columns]